.layout-item {
   margin-bottom: $space-xxxl;
  &__view {
    margin-bottom: $space-l;
    background-repeat: no-repeat;
    &_type {
      &_32-8-4 {
        width: 348px;
        height: 476px;
        &.layout-item__view_ver_1 {
          background-image: url('32_4x8_1.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_2 {
          background-image: url('32_4x8_2.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_3 {
          background-image: url('32_4x8_3.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_4 {
          background-image: url('32_4x8_4.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_5 {
          background-image: url('32_4x8_5.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_default {
          background-image: url('32_4x8_default.svg');
          background-size: 100%;
        }
      }
      &_24-4-6 {
        width: 348px;
        height: 363px;
        &.layout-item__view_ver_1 {
          background-image: url('24_4x6_1.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_2 {
          background-image: url('24_4x6_2.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_3 {
          background-image: url('24_4x6_3.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_4 {
          background-image: url('24_4x6_4.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_5 {
          background-image: url('24_4x6_5.svg');
          background-size: 100%;
        }
        &.layout-item__view_ver_default {
          background-image: url('24_4x6_default.svg');
          background-size: 100%;
        }
      }
    }
  }
  &__name {

  }
}
