@media screen and (max-width: 1199px) {
	.demo__plug {
		display: block;
		position: absolute !important;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--color-default);
		z-index: 9999;
		font-size: 5vmin;

		&-illustration {
			display: block;
			background-image: linear-gradient(to bottom, #992816 0%, #BC4937 100%);
			border-radius: 50%;
			overflow: hidden;
			box-shadow:
				0 44px 80px -20px rgba(153, 40, 22, .4),
				0 7px 16px rgba(153, 40, 22, .2);
			margin: 0 -8px;
		}

		&-button { position: relative; left: -2px;}

		&-soclink {
			position: relative;
			width: 24px;
			height: 24px;
			padding: 10px;
			text-decoration: none;
			transition: opacity .15s;

			&::before {
				content: '';
				position: absolute;
				height: 24px;
				width: 24px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}
			&_icon_twitter::before {
				background-image: url('../../assets/i/twitter.svg');
			}

			&_icon_telegram::before {
				background-image: url('../../assets/i/telegram.svg');
			}

			&:hover { opacity: .8;}
		}
	}
}

@media screen and (min-width: 1200px) {
	.demo__plug { display: none; }
}
