:root {
	--border-radius: 2px;
}
* {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	box-sizing: border-box;
}

body:not(.ready) {
	overflow: hidden;;
}

body:not(.ready) .app-nav,
body:not(.ready) > nav,
body:not(.ready) [data-cloak] {
	display: none;
}

body,
html {
	height: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: var(--color-typo-primary);
	font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
	font-size: var(--size-typo-m);
	line-height: var(--line-height-typo-m);
	letter-spacing: 0;
	margin: 0;
	overflow-x: hidden;

	&.sticky .sidebar,
	&.sticky .sidebar-toggle {
		position: fixed;
	}

	&.close {
		.sidebar {
			transform: translateX(-300px);
		}

		& .sidebar-toggle {
			width: auto;
		}

		& .content {
			left: 0;
		}
	}
}

img {
	max-width: 100%;
}

a[disabled] {
	cursor: not-allowed;
	opacity: .6;
}

li input[type=checkbox] {
	margin: 0 .2em .25em -1.6em;
	vertical-align: middle;
}

div#app {
	font-size: var(--size-typo-xl);
	line-height: 20vh;
	font-weight: 600;
	text-align: center;
	margin: 40vh auto;

	&:empty:before {
		content: "Загружается...";
	}
}

.emoji {
	height: 1.2rem;
	vertical-align: middle;
}

.progress {
	position: fixed;
	left: 0; right: 0; top: 0;
	height: var(--space-xxs);
	width: 0;
	background-color: var(--color-brand);
	transition: width .2s, opacity .4s;
	z-index: 5;
}

.search {
	& .search-keyword, & a:hover {
		color: var(--color-typo-alert);
	}
	& .search-keyword {
		font-style: normal;
		font-weight: 600;
	}
}

.task-list-item {
	list-style-type: none;
}

.app-nav {
	margin: var(--space-xl) calc(var(--space-l) + var(--space-xxxl)) 0 0;
	position: absolute;
	right: 0;
	text-align: right;
	z-index: 2;

	&.no-badge {
		margin-right: var(--space-xl);
	}

	& p {
		margin: 0;
	}

	& > a {
		margin: 0 1rem;
		padding: var(--space-xxs) 0;
	}

	& a {
		color: inherit;
		font-size: var(--size-typo-m);
		text-decoration: none;
		transition: color .3s;

		&.active, &:hover {
			color: var(--color-link-hover);
		}

		&.active {
			border-bottom: var(--space-xxxs) solid var(--color-brand);
		}
	}

	& ul {
		display: inline-block;
		list-style: none;
		margin: 0;
	}

	& li {
		position: relative;
		display: inline-block;
		margin: 0 1rem; /* TODO */
		padding: 5px 0; /* TODO */
		list-style: none;
	}

	& li ul {
		background-color: var(--color-default);
		border: 1px solid #ddd; /* TODO */
		border-bottom-color: #ccc; /* TODO */
		border-radius: var(--border-radius);
		box-sizing: border-box;
		display: none;
		max-height: calc(100vh - 61px); /* TODO */
		overflow-y: auto;
		padding: 10px 0; /* TODO */
		position: absolute;
		right: -15px; /* TODO */
		text-align: left;
		top: 100%;
		white-space: nowrap;
	}

	& li ul li {
		display: block;
		font-size: var(--size-typo-s);
		line-height: var(--line-height-typo-s);
		margin: 0;
		margin: var(--space-xs) var(--space-m);
		white-space: nowrap;
	}

	& li ul a {
		display: block;
		font-size: inherit;
		margin: 0;
		padding: 0;
	}

	& li ul a.active {
		border-bottom: 0;
	}

	& li:hover ul {
		display: block;
	}
}

.github-corner {
	border-bottom: 0;
	position: fixed;
	right: 0;
	text-decoration: none;
	top: 0;
	z-index: 1;

	&:hover .octo-arm {
		animation: a .56s ease-in-out;
	}

	& svg {
		color: var(--color-default);
		fill: var(--color-brand);
		height: calc(2 * var(--space-xxxl));
		width: calc(2 * var(--space-xxxl));
	}
}

main {
	display: block;
	position: relative;
	width: 100vw;
	height: 100%;
	z-index: 0;

	&.hidden {
		display: none;
	}
}

kbd {
	border: 1px solid #ccc; /* TODO */
	border-radius: var(--border-radius);
	display: inline-block;
	font-size: 12px!important; /* TODO */
	line-height: 12px; /* TODO */
	margin-bottom: 3px; /* TODO */
	padding: 3px 5px; /* TODO */
	vertical-align: middle;
	background: #ff0000; /* TODO */
}

.anchor {
	display: inline-block;
	text-decoration: none;
	transition: all .3s;

	& span {
		color: #34495e; /* TODO */
	}

	&:hover {
		text-decoration: underline;
	}
}

.sidebar {
	border-right: 1px solid rgba(0, 0, 0, .07);  /* TODO */
	overflow-y: auto;
	padding: var(--space-xxxl) 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	transition: transform .25s ease-out;
	width: 300px;
	z-index: 3;

	& > h1 {
		margin: 0 auto 1rem; /* TODO */
		font-size: 1.5rem; /* TODO */
		font-weight: 300;
		text-align: center;
	}

	& > h1 a {
		color: inherit;
		text-decoration: none;
	}

	& > h1 .app-nav {
		display: block;
		position: static;
	}

	& .sidebar-nav {
		line-height: 2em; /* TODO */
		padding-bottom: var(--space-xxxl);
	}

	& li.collapse .app-sub-sidebar {
		display: none;
	}

	& ul {
		margin: 0;
		padding: 0;
	}

	& li > p {
		font-weight: 700; /* TODO */
		margin: 0;
	}

	& ul, ul li {
		list-style: none;
	}

	& ul li a {
		border-bottom: none;
		display: block;
	}

	& ul li ul {
		padding-left: var(--space-l);
	}

	&::-webkit-scrollbar {
		width: var(--space-xxs);
	}

	&::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: var(--border-radius);
	}

	&:hover::-webkit-scrollbar-thumb {
		background: hsla(0, 0%, 53%, .4); /* TODO */
	}

	&:hover::-webkit-scrollbar-track {
		background: hsla(0, 0%, 53%, .1); /* TODO */
	}
}

.sidebar-toggle {
	background-color: transparent;
	background-color: hsla(0, 0%, 100%, .8); /* TODO */
	border: 0;
	outline: none;
	padding: 10px; /* TODO */
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	transition: opacity .3s;
	width: 284px;
	z-index: 4;

	& .sidebar-toggle-button:hover {
		opacity: .4;
	}

	& span {
		background-color: var(--color-brand);
		display: block;
		margin-bottom: var(--space-xxs);
		width: var(--space-m);
		height: var(--space-xxxs);
	}
}

.content {
	padding-top: 60px; /* TODO */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 300px;
	transition: left .25s ease;
}

section.cover {
	align-items: center;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: none;

	&.show {
		display: flex;
	}

	&.has-mask .mask {
		background-color: var(--color-default);
		opacity: .8;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}

	& .cover-main {
		-ms-flex: 1;
		flex: 1;
		margin: -20px 16px 0; /* TODO */
		text-align: center;
		z-index: 1;
	}

	& a {
		color: inherit;
	}

	& a, & a:hover {
		text-decoration: none;
	}

	& p {
		line-height: 1.5rem; /* TODO */
		margin: 1em 0; /* TODO */
	}

	& h1 {
		color: inherit;
		font-size: 2.5rem; /* TODO */
		font-weight: 300; /* TODO */
		margin: .625rem 0 2.5rem; /* TODO */
		position: relative;
		text-align: center;
	}

	& h1 a {
		display: block;
	}

	& h1 small {
		bottom: -.4375rem; /* TODO */
		font-size: 1rem; /* TODO */
		position: absolute;
	}

	& blockquote {
		font-size: 1.5rem; /* TODO */
		text-align: center;
	}

	& ul {
		line-height: 1.8; /* TODO */
		list-style-type: none;
		margin: 1em auto; /* TODO */
		max-width: 500px;
		padding: 0;
	}

	& .cover-main > p:last-child a {
		border: 1px solid var(--color-brand);
		border-radius: 2rem; /* TODO */
		box-sizing: border-box;
		color: var(--color-brand);
		display: inline-block;
		font-size: 1.05rem; /* TODO */
		letter-spacing: .1rem; /* TODO */
		margin: .5rem 1rem; /* TODO */
		padding: .75em 2rem; /* TODO */
		text-decoration: none;
		transition: all .15s ease;
	}

	& .cover-main > p:last-child a:last-child {
		background-color: var(--color-brand);
		color: var(--color-typo-inverse);
	}

	& .cover-main > p:last-child a:last-child:hover {
		color: inherit;
		opacity: .8;
	}

	& .cover-main > p:last-child a:hover {
		color: inherit;
	}

	& blockquote > p > a {
		border-bottom: var(--space-xxxs) solid var(--color-brand);
		transition: color .3s;
	}

	& section.cover blockquote > p > a:hover {
		color: var(--color-brand);
	}
}

.sidebar{
	background-color: var(--color-default);
	color: #364149; /* TODO */
	
	& li {
		margin: 6px 0 6px 15px; /* TODO */
	}

	& ul li a {
		color: #505d6b; /* TODO */
		font-size: 14px; /* TODO */
		font-weight: 400; /* TODO */
		overflow: hidden;
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	& ul li a:hover {
		text-decoration: underline;
	}

	& ul li ul {
		padding: 0;
	}

	& ul li.active > a {
		border-right: var(--space-xxxs) solid;
		color: var(--color-brand);
		font-weight: 600;
	}
}

.app-sub-sidebar li:before {
	content: "-";
	padding-right: var(--space-xxs);
	float: left;
}

.markdown-section {
	margin: 0 auto;
	max-width: 800px;
	padding: 30px 15px 40px;  /* TODO */
	position: relative;

	& > * {
		box-sizing: border-box;
		font-size: inherit;
	}

	& > :first-child {
		margin-top: 0!important;
	}

	& hr {
		border: none;
		border-bottom: 1px solid #eee;  /* TODO */
		margin: 2em 0; /* TODO */
	}

	& iframe {
		border: 1px solid #eee; /* TODO */
	}

	& table {
		border-collapse: collapse;
		border-spacing: 0;
		display: block;
		margin-bottom: 1rem; /* TODO */
		overflow: auto;
		width: 100%;
	}

	& th {
		font-weight: 700; /* TODO */
	}

	& td, & th {
		border: 1px solid #ddd; /* TODO */
		padding: 6px 13px; /* TODO */
	}

	& tr {
		border-top: 1px solid #ccc; /* TODO */
	}

	& p.tip, & tr:nth-child(2n) {
		background-color: #f8f8f8; /* TODO */
	}

	& p.tip {
		border-bottom-right-radius: var(--border-radius);
		border-left: var(--space-xxs) solid #f66; /* TODO */
		border-top-right-radius: var(--border-radius); /* TODO */
		margin: 2em 0; /* TODO */
		padding: 12px 24px 12px 30px; /* TODO */
		position: relative;
	}

	& p.tip:before {
		background-color: #f66; /* TODO */
		border-radius: 100%;
		color: #fff; /* TODO */
		content: "!";
		font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif; /* TODO */
		font-size: 14px; /* TODO */
		font-weight: 700; /* TODO */
		left: -12px; /* TODO */
		line-height: 20px; /* TODO */
		position: absolute;
		height: var(--space-l);
		width: var(--space-l);
		text-align: center;
		top: 14px; /* TODO */
	}

	& p.tip code {
		background-color: #efefef; /* TODO */
	}

	& p.tip em {
		color: #34495e; /* TODO */
	}

	& p.warn {
		background: rgba(66, 185, 131, .1); /* TODO */
		border-radius: var(--border-radius);
		padding: 1rem; /* TODO */
	}

	& h1, & h2, & h3, & h4, & strong {
		color: #2c3e50; /* TODO */
		font-weight: 600;
	}

	& a {
		color: var(--color-brand);
		font-weight: 600;
	}

	& h1 {
		font-size: 2rem; /* TODO */
		margin: 0 0 1rem; /* TODO */
	}

	& h2 {
		font-size: 1.75rem; /* TODO */
		margin: 45px 0 .8rem; /* TODO */
	}

	& h3 {
		font-size: 1.5rem; /* TODO */
		margin: 40px 0 .6rem; /* TODO */
	}

	& h4 {
		font-size: 1.25rem; /* TODO */
	}

	& h5 {
		font-size: 1rem; /* TODO */
	}

	& h6 {
		color: #777; /* TODO */
		font-size: 1rem; /* TODO */
	}

	& figure, & p {
		margin: 1.2em 0; /* TODO */
	}

	& ol, & p, & ul {
		line-height: 1.6rem; /* TODO */
		word-spacing: .05rem; /* TODO */
	}

	& ol, & ul {
		padding-left: 1.5rem; /* TODO */
	}

	& blockquote {
		border-left: var(--space-xxs) solid var(--color-brand);
		color: #858585; /* TODO */
		margin: 2em 0; /* TODO */
		padding-left: var(--space-l);

		& p {
			font-weight: 600;
			margin-left: 0;
		}
	}

	& iframe {
		margin: 1em 0; /* TODO */
	}

	& em {
		color: #7f8c8d; /* TODO */
	}

	& code {
		border-radius: var(--border-radius);
		color: #e96900; /* TODO */
		font-size: .8rem; /* TODO */
		margin: 0 2px; /* TODO */
		padding: 3px 5px; /* TODO */
		white-space: pre-wrap;

		&:after, &:before {
			letter-spacing: .05rem; /* TODO */
		}
	}

	& code, & pre {
		background-color: #f8f8f8; /* TODO */
		font-family: Roboto Mono, Monaco, courier, monospace; /* TODO */
	}

	& pre {
		-moz-osx-font-smoothing: initial;
		-webkit-font-smoothing: initial;
		line-height: 1.5rem; /* TODO */
		margin: 1.2em 0; /* TODO */
		overflow: auto;
		padding: 0 1.4rem; /* TODO */
		position: relative;
		word-wrap: normal;
	}

	& pre > code {
		-moz-osx-font-smoothing: initial;
		-webkit-font-smoothing: initial;
		background-color: #f8f8f8; /* TODO */
		border-radius: var(--border-radius);
		color: #525252; /* TODO */
		display: block;
		font-family: Roboto Mono, Monaco, courier, monospace; /* TODO */
		font-size: .8rem; /* TODO */
		line-height: inherit;
		margin: 0 2px; /* TODO */
		max-width: inherit;
		overflow: inherit;
		padding: 2.2em 5px; /* TODO */
		white-space: inherit;
	}
}

.token {
	&.cdata,
	&.comment,
	&.doctype,
	&.prolog {
		color: #8e908c; /* TODO */
	}

	&.namespace {
		opacity: .7;
	}

	&.boolean,
	&.number {
		color: #c76b29; /* TODO */
	}

	&.punctuation {
		color: #525252; /* TODO */
	}

	&.property {
		color: #c08b30; /* TODO */
	}

	&.tag {
		color: #2973b7; /* TODO */
	}

	&.string {
		color: var(--color-brand);
	}

	&.selector {
		color: #6679cc; /* TODO */
	}

	&.attr-name {
		color: #2973b7; /* TODO */
	}

	.language-css .token.string, /* TODO */
	.style .token.string, /* TODO */
	&.entity,
	&.url {
		color: #22a2c9; /* TODO */
	}

	&.attr-value,
	&.control,
	&.directive,
	&.unit {
		color: var(--color-brand);
	}

	&.keyword {
		color: #e96900; /* TODO */
	}

	&.atrule,
	&.regex,
	&.statement {
		color: #22a2c9; /* TODO */
	}

	&.placeholder,
	&.variable {
		color: #3d8fd1; /* TODO */
	}

	&.deleted {
		text-decoration: line-through;
	}

	&.inserted {
		border-bottom: 1px dotted #202746; /* TODO */
		text-decoration: none;
	}

	&.italic {
		font-style: italic;
	}

	&.bold,
	&.important {
		font-weight: 700;
	}

	&.important {
		color: #c94922; /* TODO */
	}

	&.entity {
		cursor: help;
	}
}

code .token {
	-moz-osx-font-smoothing: initial;
	-webkit-font-smoothing: initial;
	min-height: 1.5rem; /* TODO */
}

pre:after {
	color: #ccc; /* TODO */
	content: attr(data-lang);
	font-size: .6rem; /* TODO */
	font-weight: 600;
	height: 15px; /* TODO */
	line-height: 15px; /* TODO */
	padding: 5px 10px 0; /* TODO */
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}