.demo {
	&__menu-sections-col {
		width: 500px;
		min-height: calc(100vh - 2 * var(--space-xl));
		box-sizing: border-box;
		margin: auto;
		padding: var(--space-xxxxxl) 0;
	}
	&__menu-section-name {
		letter-spacing: 2px;
		font-size: 48px;
		line-height: 48px;
		transition: 0.3s;
	}
	&__menu-item {
		margin-bottom: var(--space-m);
		transition: .2s;

		&:last-child {
			margin-bottom: 0px;
		}
		& a {
			text-decoration: none;
		}
		& a:hover {
			color: var(--color-alert);
		}
	}
	&__menu-item-row {
		display: flex;
		justify-content: space-between;

		&:nth-child(2n) {
			opacity: .3;
		}
	}
}
