.pt-card__image_size_cover {
  position: absolute;
  height: 100%;
}
.pt-card__image_shadow_bottom-default {
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 80%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 1) 60%);
  }
}
.pt-card__image_shadow_bottom-inverse {
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 80%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 1) 60%);
  }
}
.pt-card__image_shadow_top-default {
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 80%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 1) 60%);
  }
}
.pt-card__image_shadow_top-inverse {
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    height: 80%;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 1) 60%);
  }
}

.pt-card__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-sizing: border-box;
}
.pt-card__footer_align_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pt-card__footer_space-a_l {
  padding: var(--space-l);
}
.pt-card__footer_space-a_m {
  padding: var(--space-m);
}
.pt-card__footer_space-a_s {
  padding: var(--space-s);
}
.pt-card__footer_space-a_xl {
  padding: var(--space-xl);
}
.pt-card__footer_space-a_xs {
  padding: var(--space-xs);
}
.pt-card__footer_space-a_xxl {
  padding: var(--space-xxl);
}
.pt-card__footer_space-b_l {
  padding-bottom: var(--space-l);
}
.pt-card__footer_space-b_m {
  padding-bottom: var(--space-m);
}
.pt-card__footer_space-b_s {
  padding-bottom: var(--space-s);
}
.pt-card__footer_space-b_xl {
  padding-bottom: var(--space-xl);
}
.pt-card__footer_space-b_xs {
  padding-bottom: var(--space-xs);
}
.pt-card__footer_space-b_xxl {
  padding-bottom: var(--space-xxl);
}
.pt-card__footer_space-h_l {
  padding-left: var(--space-l);
  padding-right: var(--space-l);
}
.pt-card__footer_space-h_m {
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}
.pt-card__footer_space-h_s {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}
.pt-card__footer_space-h_xl {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
}
.pt-card__footer_space-h_xs {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}
.pt-card__footer_space-h_xxl {
  padding-left: var(--space-xxl);
  padding-right: var(--space-xxl);
}
.pt-card__footer_space-v_l {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}
.pt-card__footer_space-v_m {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}
.pt-card__footer_space-v_s {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}
.pt-card__footer_space-v_xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
.pt-card__footer_space-v_xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}
.pt-card__footer_space-v_xxl {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}

.pt-icon-plus_vertical-align_center {
  align-items: center;
  .pt-icon-plus__icon {
    margin-top: 0px;
  }
}
.pt-icon-plus_vertical-align_top {
  align-items: flex-start;
  .pt-icon-plus__icon {
    margin-top: var(--space-xxxs);
  }
}
.pt-icon-plus__icon_indent-left_l {
  margin-left: var(--space-l);
}
.pt-icon-plus__icon_indent-left_m {
  margin-left: var(--space-m);
}
.pt-icon-plus__icon_indent-left_s {
  margin-left: var(--space-s);
}
.pt-icon-plus__icon_indent-left_xs {
  margin-left: var(--space-xs);
}
.pt-icon-plus__icon_indent-left_xxs {
  margin-left: var(--space-xxs);
}
.pt-icon-plus__icon_indent-right_l {
  margin-right: var(--space-l);
}
.pt-icon-plus__icon_indent-right_m {
  margin-right: var(--space-m);
}
.pt-icon-plus__icon_indent-right_s {
  margin-right: var(--space-s);
}
.pt-icon-plus__icon_indent-right_xs {
  margin-right: var(--space-xs);
}
.pt-icon-plus__icon_indent-right_xxs {
  margin-right: var(--space-xxs);
}
.pt-list__item_border_bottom {
  border-bottom: 1px solid var(--color-border);
  &:last-child {
    border-bottom: none;
  }
}
.pt-list__item_border_left {
  border-right: 1px solid var(--color-border);
  &:last-child {
    border-bottom: none;
  }
}
.pt-list__item_border_right {
  border-right: 1px solid var(--color-border);
  &:last-child {
    border-bottom: none;
  }
}
.pt-list__item_border_top {
  border-top: 1px solid var(--color-border);
  &:first-child {
    border-top: none;
  }
}
.pt-list__item_distribute_between {
  display: flex;
  justify-content: space-between;
}
.pt-list__item_distribute_default {
  display: flex;
  justify-content: flex-start;
}
.pt-list__item_indent-a_l {
  margin: var(--space-l);
}
.pt-list__item_indent-a_m {
  margin: var(--space-m);
}
.pt-list__item_indent-a_s {
  margin: var(--space-s);
}
.pt-list__item_indent-a_xl {
  margin: var(--space-xl);
}
.pt-list__item_indent-a_xs {
  margin: var(--space-xs);
}
.pt-list__item_indent-a_xxl {
  margin: var(--space-xxl);
}
.pt-list__item_indent-a_xxxl {
  margin: var(--space-xxxl);
}
.pt-list__item_indent-b_l {
  margin-bottom: var(--space-l);
  &:last-child {
    margin-bottom: 0;
  }
}
.pt-list__item_indent-b_m {
  margin-bottom: var(--space-m);
  &:last-child {
    margin-bottom: 0;
  }
}
.pt-list__item_indent-b_s {
  margin-bottom: var(--space-s);
  &:last-child {
    margin-bottom: 0;
  }
}
.pt-list__item_indent-b_xl {
  margin-bottom: var(--space-xl);
  &:last-child {
    margin-bottom: 0;
  }
}
.pt-list__item_indent-b_xs {
  margin-bottom: var(--space-xs);
  &:last-child {
    margin-bottom: 0;
  }
}
.pt-list__item_indent-b_xxl {
  margin-bottom: var(--space-xxl);
  &:last-child {
    margin-bottom: 0;
  }
}
.pt-list__item_indent-b_xxxl {
  margin-bottom: var(--space-xxxl);
  &:last-child {
    margin-bottom: 0;
  }
}
.pt-list__item_indent-h_l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}
.pt-list__item_indent-h_m {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}
.pt-list__item_indent-h_s {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}
.pt-list__item_indent-h_xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}
.pt-list__item_indent-h_xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}
.pt-list__item_indent-h_xxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}
.pt-list__item_indent-h_xxxl {
  margin-left: var(--space-xxxl);
  margin-right: var(--space-xxxl);
}
.pt-list__item_indent-l_l {
  margin-left: var(--space-l);
}
.pt-list__item_indent-l_m {
  margin-left: var(--space-m);
}
.pt-list__item_indent-l_s {
  margin-left: var(--space-s);
}
.pt-list__item_indent-l_xl {
  margin-left: var(--space-xl);
}
.pt-list__item_indent-l_xs {
  margin-left: var(--space-xs);
}
.pt-list__item_indent-l_xxl {
  margin-left: var(--space-xxl);
}
.pt-list__item_indent-l_xxxl {
  margin-left: var(--space-xxl);
}
.pt-list__item_indent-r_l {
  margin-right: var(--space-l);
}
.pt-list__item_indent-r_m {
  margin-right: var(--space-m);
}
.pt-list__item_indent-r_s {
  margin-right: var(--space-s);
}
.pt-list__item_indent-r_xl {
  margin-right: var(--space-xl);
}
.pt-list__item_indent-r_xs {
  margin-right: var(--space-xs);
}
.pt-list__item_indent-r_xxl {
  margin-right: var(--space-xxl);
}
.pt-list__item_indent-r_xxxl {
  margin-right: var(--space-xxxl);
}
.pt-list__item_indent-t_l {
  margin-top: var(--space-l);
  &:first-child {
    margin-top: 0;
  }
}
.pt-list__item_indent-t_m {
  margin-top: var(--space-m);
  &:first-child {
    margin-top: 0;
  }
}
.pt-list__item_indent-t_s {
  margin-top: var(--space-s);
  &:first-child {
    margin-top: 0;
  }
}
.pt-list__item_indent-t_xl {
  margin-top: var(--space-xl);
  &:first-child {
    margin-top: 0;
  }
}
.pt-list__item_indent-t_xs {
  margin-top: var(--space-xs);
  &:fisrt-child {
    margin-top: 0;
  }
}
.pt-list__item_indent-t_xxl {
  margin-top: var(--space-xxl);
  &:first-child {
    margin-top: 0;
  }
}
.pt-list__item_indent-t_xxxl {
  margin-top: var(--space-xxxl);
  &:first-child {
    margin-top: 0;
  }
}
.pt-list__item_indent-v_l {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}
.pt-list__item_indent-v_m {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}
.pt-list__item_indent-v_s {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}
.pt-list__item_indent-v_xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}
.pt-list__item_indent-v_xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}
.pt-list__item_indent-v_xxl {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}
.pt-list__item_indent-v_xxxl {
  margin-top: var(--space-xxxl);
  margin-bottom: var(--space-xxxl);
}
.pt-list__item_space-a_l {
  padding: var(--space-l);
}
.pt-list__item_space-a_m {
  padding: var(--space-m);
}
.pt-list__item_space-a_s {
  padding: var(--space-s);
}
.pt-list__item_space-a_xl {
  padding: var(--space-xl);
}
.pt-list__item_space-a_xs {
  padding: var(--space-xs);
}
.pt-list__item_space-a_xxl {
  padding: var(--space-xxl);
}
.pt-list__item_space-a_xxs {
  padding: var(--space-xxs);
}
.pt-list__item_space-b_l {
  padding-bottom: var(--space-l);
  &:last-child {
    padding-bottom: 0;
  }
}
.pt-list__item_space-b_m {
  padding-bottom: var(--space-m);
  &:last-child {
    padding-bottom: 0;
  }
}
.pt-list__item_space-b_s {
  padding-bottom: var(--space-s);
  &:last-child {
    padding-bottom: 0;
  }
}
.pt-list__item_space-b_xl {
  padding-bottom: var(--space-xl);
  &:last-child {
    padding-bottom: 0;
  }
}
.pt-list__item_space-b_xs {
  padding-bottom: var(--space-xs);
  &:last-child {
    padding-bottom: 0;
  }
}
.pt-list__item_space-b_xxl {
  padding-bottom: var(--space-xxl);
  &:last-child {
    padding-bottom: 0;
  }
}
.pt-list__item_space-b_xxs {
  padding-bottom: var(--space-xxs);
  &:last-child {
    padding-bottom: 0;
  }
}
.pt-list__item_space-h_l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}
.pt-list__item_space-h_m {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}
.pt-list__item_space-h_s {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}
.pt-list__item_space-h_xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}
.pt-list__item_space-h_xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}
.pt-list__item_space-h_xxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}
.pt-list__item_space-h_xxs {
  margin-left: var(--space-xxs);
  margin-right: var(--space-xxs);
}
.pt-list__item_space-l_l {
  padding-left: var(--space-l);
}
.pt-list__item_space-l_m {
  padding-left: var(--space-m);
}
.pt-list__item_space-l_s {
  padding-left: var(--space-s);
}
.pt-list__item_space-l_xl {
  padding-left: var(--space-xl);
}
.pt-list__item_space-l_xs {
  padding-left: var(--space-xs);
}
.pt-list__item_space-l_xxl {
  padding-left: var(--space-xxl);
}
.pt-list__item_space-l_xxs {
  padding-left: var(--space-xxs);
}
.pt-list__item_space-r_l {
  padding-right: var(--space-l);
}
.pt-list__item_space-r_m {
  padding-right: var(--space-m);
}
.pt-list__item_space-r_s {
  padding-right: var(--space-s);
}
.pt-list__item_space-r_xl {
  padding-right: var(--space-xl);
}
.pt-list__item_space-r_xs {
  padding-right: var(--space-xs);
}
.pt-list__item_space-r_xxl {
  padding-right: var(--space-xl);
}
.pt-list__item_space-r_xxs {
  padding-right: var(--space-xxs);
}
.pt-list__item_space-t_l {
  padding-top: var(--space-l);
  &:first-child {
    padding-top: 0;
  }
}
.pt-list__item_space-t_m {
  padding-top: var(--space-m);
  &:first-child {
    padding-top: 0;
  }
}
.pt-list__item_space-t_s {
  padding-top: var(--space-s);
  &:first-child {
    padding-top: 0;
  }
}
.pt-list__item_space-t_xl {
  padding-top: var(--space-xl);
  &:first-child {
    padding-top: 0;
  }
}
.pt-list__item_space-t_xs {
  padding-top: var(--space-xs);
  &:first-child {
    padding-top: 0;
  }
}
.pt-list__item_space-t_xxl {
  padding-top: var(--space-xxl);
  &:first-child {
    padding-top: 0;
  }
}
.pt-list__item_space-t_xxs {
  padding-top: var(--space-xxs);
  &:first-child {
    padding-top: 0;
  }
}
.pt-list__item_space-v_l {
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}
.pt-list__item_space-v_m {
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
}
.pt-list__item_space-v_s {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}
.pt-list__item_space-v_xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
.pt-list__item_space-v_xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}
.pt-list__item_space-v_xxl {
  padding: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}
.pt-list__item_space-v_xxs {
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);
}